@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/background.jpg") no-repeat;
    background-size: 100%;
    opacity: 0.5;
    z-index: -1;
}

body {
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Agbalumo, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

/* --------------------------------------- */
/* --------------- en-tête --------------- */
/* --------------------------------------- */

.bandeau {
    width: 100%;
    height: 150px;
    background-color: rgba(85, 85, 85, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.bandeauHaut {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.user {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    position: fixed;
    z-index: 1;
}

.Username {
    font-size: 25px;
}

.userImg {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.Title {
    height: 100%;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-items: center;
    z-index: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Agbalumo, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.banner {
    width: 12%;
    background-image: url('/img/banner_LNB.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

.sousBandeau {
    padding-top: 250px;
}

.body {
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#error {
    display: none;
    margin-top: 40px;
    height: auto;
    padding: 20px;
    margin-left: 19%;
    margin-right: 19%;
    width: 60%;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}

/* --------------------------------------- */
/* --------------- contenu --------------- */
/* --------------------------------------- */

.discordConnect {
    text-decoration: none;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: Agbalumo, sans-serif;
    font-size: 20px;
    /* text-shadow: 1px 1px 5px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0); */
    text-align: center;
    justify-content: center;
}

.discordConnect img {
    width: 250px;
}

.discordConnect:hover {
    cursor: pointer;
}

/* --------------------------------------------- */
/* --------------- page /caserne --------------- */
/* --------------------------------------------- */

.caserne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.caserne img {
    width: 200px;
    height: 200px;
    background-color: black;
}

.titlelistUnit {
    width: 100%;
    padding-bottom: 5px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;

}

.listUnit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listUnit select {
    text-align: center;
}

.divInfanterie,
.divDistant,
.divCav {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
    text-decoration: none;
}

.divInfanterie {
    background-color: rgb(77, 77, 255);
}

.divDistant {
    background-color: rgb(196, 99, 252);
}

.divCav {
    background-color: rgb(57, 163, 43);
}

.unit {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}


/* --------------------------------------------- */
/* ------------- page /creategroup ------------- */
/* --------------------------------------------- */

.creategroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.divuser {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px;
    border-style: groove;
    border-color: black;
}

.influenceplayer,
.influenceUnit,
.unit1,
.unit2,
.unit3,
.unit4 {
    width: calc(100%/6);
}

.titledivuser {
    background-color: gray;
}
.group1 {
    background-color: cyan;
}

.group2 {
    background-color: magenta;
}

.group3 {
    background-color: yellow;
}